.43_17 { 
	overflow:hidden;
}.e43_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:1536px;
	height:864px;
	position:absolute;
}.e43_18 { 
	width:1536px;
	height:863.4959106445312px;
	position:absolute;
	left:0px;
	top:0.5042295455932617px;
}.e43_19 { 
	background-color:rgba(244.57422584295273, 234.79124039411545, 0, 1);
	width:37.565216064453125px;
	height:820.6779174804688px;
	position:absolute;
	left:1498.434814453125px;
	top:42.81797790527344px;
}.e43_20 { 
	background-color:rgba(244.57422584295273, 234.79124039411545, 0, 1);
	width:37.565216064453125px;
	height:820.6779174804688px;
	position:absolute;
	left:0px;
	top:42.81797790527344px;
}.e43_21 { 
	background-color:rgba(244.57422584295273, 234.79124039411545, 0, 1);
	width:1536px;
	height:42.81797790527344px;
	position:absolute;
	left:0px;
	top:0px;
}.e43_22 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:79px;
	position:absolute;
	left:1096px;
	top:214px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e43_23 { 
	background-color:rgba(55.36341302096844, 214.00112718343735, 248.82422178983688, 0.6499999761581421);
	width:488px;
	height:380px;
	position:absolute;
	left:121px;
	top:326px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e43_24 { 
	background-color:rgba(55.36341302096844, 214.00112718343735, 248.82422178983688, 0.6499999761581421);
	width:488px;
	height:93px;
	position:absolute;
	left:121px;
	top:200px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e43_25 { 
	background-color:rgba(255, 143.00000667572021, 171.00000500679016, 1);
	width:489px;
	height:380px;
	position:absolute;
	left:922px;
	top:326px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e43_26 { 
	background-color:rgba(255, 143.00000667572021, 171.00000500679016, 1);
	width:489px;
	height:93px;
	position:absolute;
	left:922px;
	top:200px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e43_27 { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:77px;
	position:absolute;
	left:263px;
	top:208px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e43_28 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:31px;
	position:absolute;
	left:1079px;
	top:231px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e43_29 { 
	color:rgba(0, 0, 0, 1);
	width:620px;
	height:86px;
	position:absolute;
	left:458px;
	top:81px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e43_30 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:55px;
	position:absolute;
	left:572px;
	top:-242px;
	font-family:Inter;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}.e43_31 { 
	width:260px;
	height:260px;
	position:absolute;
	left:636px;
	top:214px;
	background-image:url(images/free_icon_crying_983037_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_6 { 
	color:rgba(0, 0, 0, 1);
	width:488px;
	height:375px;
	position:absolute;
	left:121px;
	top:331px;
	font-family:Inter;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e45_7 { 
	color:rgba(0, 0, 0, 1);
	width:475px;
	height:370px;
	position:absolute;
	left:925px;
	top:336px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}