.43_2 { 
	overflow:hidden;
}.e43_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1536px;
	height:864px;
	position:absolute;
}.e43_3 { 
	width:1536px;
	height:873.6409912109375px;
	position:absolute;
	left:0px;
	top:-5px;
}.e43_4 { 
	background-color:rgba(255, 0, 0, 1);
	width:37.565216064453125px;
	height:830.3198852539062px;
	position:absolute;
	left:1498.4345703125px;
	top:43.32109451293945px;
}.e43_5 { 
	background-color:rgba(255, 0, 0, 1);
	width:37.565216064453125px;
	height:830.3198852539062px;
	position:absolute;
	left:0px;
	top:43.32109451293945px;
}.e43_6 { 
	background-color:rgba(255, 0, 0, 1);
	width:1536px;
	height:43.32103729248047px;
	position:absolute;
	left:0px;
	top:0px;
}.e43_7 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:80px;
	position:absolute;
	left:1096px;
	top:210.14501953125px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e43_8 { 
	background-color:rgba(55.36341302096844, 214.00112718343735, 248.82422178983688, 0.6499999761581421);
	width:488px;
	height:384px;
	position:absolute;
	left:121px;
	top:323.14501953125px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e43_9 { 
	background-color:rgba(55.36341302096844, 214.00112718343735, 248.82422178983688, 0.6499999761581421);
	width:488px;
	height:94px;
	position:absolute;
	left:121px;
	top:196.14501953125px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e43_10 { 
	background-color:rgba(255, 143.00000667572021, 171.00000500679016, 1);
	width:489px;
	height:384px;
	position:absolute;
	left:922px;
	top:323.14501953125px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e43_11 { 
	background-color:rgba(255, 143.00000667572021, 171.00000500679016, 1);
	width:489px;
	height:94px;
	position:absolute;
	left:922px;
	top:196.14501953125px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e43_12 { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:79px;
	position:absolute;
	left:263px;
	top:203.14501953125px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e43_13 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:31px;
	position:absolute;
	left:1079px;
	top:227.14501953125px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e43_14 { 
	color:rgba(0, 0, 0, 1);
	width:620px;
	height:88px;
	position:absolute;
	left:458px;
	top:75.14501953125px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e43_15 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:56px;
	position:absolute;
	left:572px;
	top:-255px;
	font-family:Inter;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}.e43_16 { 
	width:260px;
	height:262px;
	position:absolute;
	left:636px;
	top:210.14501953125px;
	background-image:url(images/free_icon_crying_983037_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_3 { 
	color:rgba(0, 0, 0, 1);
	width:489px;
	height:384px;
	position:absolute;
	left:922px;
	top:323.14501953125px;
	font-family:Inter;
	text-align:center;
	font-size:21px;
	letter-spacing:0;
}.e44_82 { 
	color:rgba(0, 0, 0, 1);
	width:486px;
	height:379px;
	position:absolute;
	left:122px;
	top:326.14501953125px;
	font-family:Inter;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}